body{
    margin: 0;

}
.h1{
    font-size: 50px;
    line-height: .6;
}
section{
    display: flex;
}
.head-color{
    color: brown;
}
.first-div{
    width: 50%;
    padding: 20px;
}
.first-div img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-color: chartreuse;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
}
.class-mission{
    text-align: center;
    color: indigo;
}
.span{
    color: rgb(43, 12, 219);
}
.quater{
    width: 25%;
    box-shadow: 0px 0px grey;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px;
    border-radius:15px;
}
.quater{
    width: 40%;
}
.quater img{
    width: 40%;
}
.quatera{
    background-color: indigo;
}
.quaterb{
    background-color: violet;
}
.quaterc{
    background-color: yellow;
}
.image2{
    width: 50%;
}
.develop{
    width: 50%;
}
.image2 img{
    width: 40%;
}
.button9{
    text-decoration: none;
    background-color: chartreuse; 
    padding: 20px 40px;
    color: black;
    border-radius: 10px;

}
.section4{
    width: 50%;
}
.section4 img{
    width: 70%;
}
.h1class{
    text-align: center;
}
.extra-image{
    width: 50%;
}
.extra-para{
    width: 50%;
}
.extra-image img{
    width: 65%;
}
.footer{
    background-color: black;
}
footer{
    text-align: center;
    color: white;
}
.footer-color{
    color: tomato;
}
